wget
asyncio
https://github.com/python/asyncio/archive/refs/tags/3.4.3.zip
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy
httplib2
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pyrogram
https://github.com/pyrogram/pyrogram/archive/refs/tags/v1.2.0.zip
